.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px, rgb(152, 122, 192);

}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(122, 67, 67);
    line-height: 3;
    text-align: center;
}
canvas{
    border:5px solid rgb(50, 148, 161);
    border-radius: 20px;
    box-shadow: 5px 5px 5px,rgb(111, 209, 172);
    
}